image: doxygen/doxygen:latest  # prebuilt Doxygen Docker image

stages:
  - docs

generate_docs:
  stage: docs
  script:
    - doxygen Doxyfile
  artifacts:
    paths:
      - mantaray/docs/html # folder set as HTML_OUTPUT in Doxyfile
    expire_in: 1 week

pages:
  stage: docs
  script:
    - mv mantaray/docs/html public  # GitLab Pages serves from 'public' folder
  artifacts:
    paths:
      - public
  only:
    - main  # or master
